*{
    box-sizing: border-box;
}

.header{
    background-color: blue;
    color: white;
    font-size: 32px;
    padding: 10px 0px 10px 5px;
}

.wrep{
    display: flex;
    flex-direction: column;

}
.search{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    border-radius: 5px;
}
.gihub{
    font-size: 24px;
    padding : 5px;
}
#button1{
    width: 100%;
    font-size: 24px;
    border-radius: 5px;
}
.profile{
    display: flex;
    flex-direction: row;
}
.profile_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo{
    width: 80%;
    height: 90%;
}
.view_profile{
    width: 80%;
    height: 10%;
    margin: 2px;
    border-radius: 15px;
    text-align: center;
    background-color: blue;
    color: white;
}
.profile_content{
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.profile_content_header{
    
    display: flex;
    flex-direction: row;
}
.public_repos{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: blue;
    color:  white;
}
.public_Gists{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: blue;
    color:  white;
}

.followers
{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: blue;
    color:  white;
}
.following
{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: blue;
    color:  white;
}
.company{
    padding: 5px;
    width: 100%;
    border: solid gray 1px;
    font-size: 25px;
}
.blog{
    padding: 5px;
    width: 100%;
    border: solid gray 1px;
    font-size: 25px;
}
.location{
    padding: 5px;
    width: 100%;
    border: solid gray 1px;
    font-size: 25px;
}
.create{
    padding: 5px;
    width: 100%;
    border: solid gray 1px;
    font-size: 25px;
}
.repolists
{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
    font-size: 24px;
    width: 100%;
    justify-content:space-around
}
.repolist1
{
    
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.repolists_info
{
    display: flex;
    flex-direction: row;
    
}
.repolists_info_stars
{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: blue;
    color:  white;
}
.repolists_info_watchers
{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: blue;
    color:  white;
}
.repolists_info_forks
{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: blue;
    color:  white;
}